# EditorConfig file for ProPulse test projects
# See https://editorconfig.org/ for more information about EditorConfig files

# top-most EditorConfig file
root = false

# C# files
[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1508: Avoid dead conditional code (often triggered by FluentAssertions checks)
dotnet_diagnostic.CA1508.severity = none

# CA1852: Types with no visible constructor should be sealed
dotnet_diagnostic.CA1852.severity = none
