# .NET Core files
*.swp
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio / VS Code files
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains Rider
.idea/
*.sln.iml
.idea/

# Resharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.coverage
*.coveragexml
TestResults/
coverage-results/

# NuGet
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json
*.nuget.dgspec.json

# Azure DevOps
*.vspscc
*.vssscc

# OS specific
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Aspire
.aspire/
